<div class="flex justify-center items-center flex-col">
  <h1 class="text-4xl font-bold mb-4 mt-4">Search Engines</h1>

  <mat-form-field appearance="outline" class="w-[400px]">
    <mat-label>Search movies</mat-label>
    <input matInput type="text" [(ngModel)]="searchText" (keyup)="onEnterPress($event)">
    
    <button mat-icon-button matSuffix (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="searchText">
    <h2 class="text-2xl font-semibold mb-2">Search Results for "{{ searchText }}"</h2>

    <table mat-table [dataSource]="movies" class="mat-elevation-z8">


      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef class="font-bold"> Image </th>
        <td mat-cell *matCellDef="let element"><img width="200" src="{{element['Poster']}}" alt="" srcset="">  </td>
      </ng-container>

      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef>Title<mat-icon>arrow_drop_down</mat-icon><mat-icon>arrow_drop_up</mat-icon></th>
        <td mat-cell *matCellDef="let element" class="font-bold"> {{element['Title']}} </td>
      </ng-container>

      <ng-container matColumnDef="Year">
        <th mat-header-cell *matHeaderCellDef> Year <mat-icon>arrow_drop_down</mat-icon><mat-icon>arrow_drop_up</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element["Year"]}} </td>
      </ng-container>

      <ng-container matColumnDef="Runtime">
        <th mat-header-cell *matHeaderCellDef>Runtime<mat-icon>arrow_drop_down</mat-icon><mat-icon>arrow_drop_up</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element['Runtime']}} </td>
      </ng-container>

      <ng-container matColumnDef="Genre">
        <th mat-header-cell *matHeaderCellDef>Genre</th>
        <td mat-cell *matCellDef="let element"> {{element['Genre']}} </td>
      </ng-container>

      <ng-container matColumnDef="Director">
        <th mat-header-cell *matHeaderCellDef>Director <mat-icon>arrow_drop_down</mat-icon><mat-icon>arrow_drop_up</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element['Director']}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Plot">
        <th mat-header-cell *matHeaderCellDef>Plot</th>
        <td mat-cell *matCellDef="let element"> {{element['Plot']}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>